<nav class="navbar">
	<div class="container">
		<ul class="nav navbar-nav">
			<li>
				<div class="navbar-header">
					<a href="javascript:void(0);" class="h-bars"></a>
					<a class="navbar-brand" href="/home"
						><span class="m-l-10">Sports Scheduling and Result System</span></a
					>
				</div>
			</li>
			<li class="dropdown task badgebit">
				<a
					href="javascript:void(0);"
					class="dropdown-toggle"
					data-toggle="dropdown"
					role="button"
					><i class="zmdi zmdi-flag"></i>
					<div class="notify">
						<span class="heartbit"></span>
						<span class="point"></span>
					</div>
				</a>
			</li>
			<li class="float-right">
				<a href="#" class="mega-menu"><i class="zmdi zmdi-power"></i></a>
			</li>
		</ul>
	</div>
</nav>

<div class="menu-container">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="h-menu">
					<li class="open active">
						<a href="/home"><i class="zmdi zmdi-home"></i></a>
					</li>
					<li><a href="/facilitator">Facilitator</a></li>
					<li><a href="/sport">Sport</a></li>
					<li><a href="/category">Category</a></li>
					<li><a href="/division">Division</a></li>
					<li><a href="/team">Team</a></li>
					<li><a href="/tournament">Tournament</a></li>
					<li><a href="/bracket">Generate Bracket</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
